[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
psycopg2 = "*"
mysql = "*"
django-scheduler = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
